* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.navbar-shadow {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

a {
	text-decoration: none;
}

.error {
	color: red;
	background: pink;
	border: 1px solid red;
	border-radius: 4px;
	padding: 8px;
	margin: 10px 0;
}

.nav-login {
	& span {
		color: rgb(0 0 0 / 55%);
	}

	& span:hover {
		color: rgb(0 0 0 / 70%);
	}
}

.footer-nav {
	& span:hover {
		color: rgba(255, 255, 255, 0.7);
	}
}

.social-icons {
	& a {
		color: white;
	}
	& a:hover {
		color: rgba(255, 255, 255, 0.7);
	}
}

.click-down-button {
	user-select: none;

	&:active {
		transform: translateY(1px);
	}
}

.dashed-border {
	border-bottom: 1px dashed;
}

.my-wrapper {
	@media (min-width: 768px) {
		max-width: 50%;
	}

	@media (min-width: 992px) {
		max-width: 100%;
	}
}

.signup-wrapper {
	@media (min-width: 768px) {
		max-width: 440px;
	}
}

.myPureWhite {
	background-color: #f8f9fa;
}

.fade-in-appear {
	opacity: 0;
}

.fade-in-appear-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
